<div class="container my-5">
    <h1 class=" mb-3">Doctors</h1>

    <table class="table" *ngIf="doctors && doctors.length > 0">
    <thead>
        <tr>
        <th>Id</th>
        <th>Position</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Place</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let doctor of doctors">
            <td>{{doctor.id }}</td>
            <td>{{doctor.position }}</td>
            <td>{{doctor.firstname }}</td>
            <td>{{doctor.lastname }}</td>
            <td>{{doctor.place }}</td>
            <td><a [routerLink]="['/doctors','edit', doctor.id]">Edit</a></td>
        </tr>
    </tbody>
    </table>
<p *ngIf="!doctors || doctors.length <= 0">There are not any doctor!</p>
</div>
