<div class ="container my-5">
    <h1 class=" mb-3">Edit Doctor</h1>

    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateDoctor()">
    
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" readonly 
                name="id" [(ngModel)] = "doctorDetails.id">
              </div>

            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" class="form-control" id="position" 
              name="position" [(ngModel)] = "doctorDetails.position">
            </div>
           
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)] = "doctorDetails.firstname">
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name </label>
                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)] = "doctorDetails.lastname">
              </div>
              <div class="mb-3">
                <label for="place" class="form-label">Place </label>
                <input type="text" class="form-control" id="place" name="place" [(ngModel)] = "doctorDetails.place">
              </div>
            <button type="submit" class="btn btn-primary mr-5">Save</button>
            <button type="submit" class="btn btn-danger"(click)="deleteDoctor(doctorDetails.id)">Delete</button>
          
    </form>
      </div>  
    </div>

</div> 
